<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603752801028-d9d3kfvcqe5bt5ka5t8m50pnk1iifarq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603752801028-d9d3kfvcqe5bt5ka5t8m50pnk1iifarq</string>
	<key>API_KEY</key>
	<string>AIzaSyBrdyq1oTMNC38vyB2bE7jVxdeRspJJMZc</string>
	<key>GCM_SENDER_ID</key>
	<string>603752801028</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.randomDados</string>
	<key>PROJECT_ID</key>
	<string>appflutter-76609</string>
	<key>STORAGE_BUCKET</key>
	<string>appflutter-76609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603752801028:ios:00251dc749bf3e70242651</string>
</dict>
</plist>